.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #00cc66;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: slide-in 0.3s ease-in-out;

  max-width: 300px;
}

.notification button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

/* Анимация появления */
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}